body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.orange-color {
  color: orange;
}

.flexible-container {
  display: flex;
  margin-bottom: 100px;
}

.half-width {
  width: 300%;
  padding-left: 4%;
}

.half-width img {
  width: 80%;
  padding-left: 70px;
  padding-top: 20px;
}

p {
  margin-bottom: 25px;
  text-align: justify;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  border-radius: 5px;
  font-weight: 700;
}

.top-banner {
  background-image: url(/developer-protfolio/images/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(/developer-protfolio/images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.dream-parag {
  margin-right: 150px;
}

.link-button_2 {
  text-decoration: none;
  background-image: linear-gradient(rgb(219, 55, 14), rgb(207, 78, 55));
  padding: 10px 40px;
  color: white;
  border-radius: 5px;
  font-weight: 700;
}

.Experience-area {
  background-image: url(/developer-protfolio/images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.Experience-item {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 15px;
  box-shadow: 10px 10px 40px gray;
}

.exp-paragraph {
  padding-right: 20px;
}

#Web-dev-exp{
  border-left: 7px solid;
  border-image: linear-gradient(blue,cyan);
  border-image-slice: 1;
}

#full-stack-exp{
  border-left: 7px solid;
  border-image: linear-gradient(purple,tomato);
  border-image-slice: 1;
}

footer p{
  text-align: center;
}


